*{
    
  box-sizing: border-box;
   
}

html {
    
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    
 }

body {
    
    background-color: #201f24;
    overflow-x: hidden;
    overflow-y: scroll;
 }

 section {
    display: flex;
    scroll-snap-align: start;
    font-size: 2em;
    z-index: -1;
 }

 .scrolling {
    
    display: block;
   

 }

 .sectionCollab{
    
    color: white;
    background-color: #1a191d;
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
 }

 .sectionPropos{
    
   color: white;
   background-color: #1a191d;
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: center;
   text-align: center;
   font-family: myriad-pro, sans-serif;
   font-weight: 700;
   font-style: normal;
}

 #adresseCourriel{
  cursor: pointer;  
  font-style: italic;
  font-size: 0.8em;
}
