
 .sectionPresentation {
    
    color: azure;
    background-color: #201f24;
    text-align: center;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
 }

 .sectionPresentation p {
    font-size: 2rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }

  .sectionPresentation p span.texteEcrit {
    font-weight: normal;
    color: #dd7732;
  }

  .sectionPresentation p span.curseur {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }

  .sectionPresentation p span.cursor.typing {
    animation: none;
  }

  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }