.sectionPortfolio {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 100vw;
    height: 200vh;
    margin: auto;
}

#titrePortfolio {
    font-size: calc(1.5em + 1vw);
}

.projets {
    margin: 10px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .projets,
  .projets > .column {
    padding: 8px;
  }
  
  .projets:after {
    content: "";
    display: table;
    clear: both;
   }

.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
  }

.contenu {
   background-color: green;
  }
/* The "show" class is added to the filtered elements */
.show {
    display: block;
  }

.btn {
    border: none;
    outline: none;
    background-color: green;
    cursor: pointer;
    font-size: calc(0.5em + 1vw);
    position: relative;
}

.btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

   /*Styles tablette*/
@media (min-width:541px) and (max-width:1199px) {
        
    }
    /*Styles Grand-écran */
   @media (min-width:1200px) {


   }